.App {
  padding: 11px;
}

h1, h2 {
  font-size: 24px;
}

a {
  text-decoration-line: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:disabled {
  background: silver;
}


.breadcrumbs {
  font-size: 12px;
}

.main-board__title {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.search_theme-1 {
  margin: 0.5rem;
}

.button {
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
}

.button_orange {
  background: #f3e6db;
}

.button_blue {
  background: #4094F7;
}


.boards-container {
  display: flex;
  
  min-height: 100vh;
}

.board {
  background: #F6F8F9;
  border-radius: 6px 6px 0 0;
  padding: 8px;
  flex: 1 0 10%;
  min-width: 10%;
}

.board_theme-1 {
  margin: 0 5px;
}

.board__title {
  font-size: 14px;
  color: #6E7C87;
}


.card {
  background: white;
  padding: 16px;
  border-radius: 6px;
}

.card a {
  color: #252C32;
}

.card_theme-1 {
  margin: 8px 0;
}

.card__footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card__id {
  margin-left: auto;
  font-size: 14px;
}



.edit-form {
  width: 535px;
}

.edit-form_theme-1 {
  margin-top: 1rem;
}


.edit-form__input-title_theme-1 {
  display: inline-block;
  width: 100%;
  
}

.edit-form__textarea_theme-1 {
  display: inline-block;
  width: 100%;
  height: 150px;
}

.story-points-input {
  width: 4rem;
}

.description-text {
  width: 100%;
  height: 150px;
}

.priority-pic {
  flex: 0 0 auto;
}

.story-points-pic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E5E9EB;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.story-points-pic_theme-1 {
  margin-left: 0.5rem;
}


.description-bar {
  display: flex;
  align-items: center;
  width: 200px;
}

.description-bar__button {
  margin-left: auto;
}

.description-bar__status {
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
}

.description-text {
  font-size: 18px;
  color: #6E7C87;
  padding: 1rem;
}
