.App {
  text-align: center;
}

.App-link {
  color: rgb(112, 76, 182);
}


a {
  text-decoration-line: none;
}

.button {
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
}

.button_orange {
  background: #F2994A;
}

.button_blue {
  background: #4094F7;
}


