.App-link {
  color: rgb(112, 76, 182);
}


a {
  text-decoration-line: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:disabled {
  background: silver;
}

.button {
  padding: 0.5rem;
  border-radius: 6px;
  color: white;
}

.button_orange {
  background: #F2994A;
}

.button_blue {
  background: #4094F7;
}


.boards-container {
  display: flex;
  padding: 11px;
  min-height: 100vh;
}

.board {
  background: #F6F8F9;
  border-radius: 6px 6px 0 0;
  padding: 0 8px;
  flex: 1 0 10%;
  min-width: 10%;
}

.board_theme-1 {
  margin: 0 5px;
}


.card {
  background: white;
  padding: 16px;
  border-radius: 6px;
}

.card_theme-1 {
  margin: 8px 0;
}


.edit-form {
  width: 535px;
}

.edit-form__input-title_theme-1 {
  display: inline-block;
  width: 100%;
}

.edit-form__textarea_theme-1 {
  display: inline-block;
  width: 100%;
}

